{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load hitcount_tags %}
{% block title %}
{{category.title}} - {{block.super}}
{% endblock %}

{% block body %}

<!-- page-banner section 
			================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h1>{{category.title}}</h1>
        <span>{{category.post.count}}</span>
    </div>
</section>
<!-- End page-banner section -->

<!-- blog section 
			================================================== -->
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-box list-style row">
                    {% for item in posts %}
                    <div class="news-post article-post2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="image-holder">
                                    <img src="/media/{{item.post_image}}" alt="{{item.title}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% for subItem in item.categories.all %}
                                <a class="category-link" href="/{{subItem.slug}}">{{subItem.title}}</a>
                                {% endfor %}
                                <h2><a href="{% url 'posts:post_detail' slug=item.slug %}">{{item.title}}</a></h2>
                                <ul class="post-tags">
                                    <li>{{item.created_at | timesince}}</li>
                                    <li><a href="#">{{item.postcomments.count}} yorum</a></li>
                                    <li>Yazar: <a href="#">{{item.author}}</a></li>
                                    <li><i class="fa fa-eye"></i> {% get_hit_count for item %}</li>
                                </ul>
                                <p>{{item.detail| safe | truncatechars:300}}</p>
                            </div>
                        </div>
                    </div>

                    {% endfor %}



                    <div class="pagination-box">
                        <ul class="pagination-list">

                            {% if posts.has_previous %}
                            <li><a href="?page=1">
                                    First </a></li>
                            <li><a href="?page={{ posts.previous_page_number }}">
                                    Previous
                                </a></li>
                            {% endif %}

                            {% for num in posts.paginator.page_range %}
                            {% if posts.number == num %}
                            <li><a class="active">{{ num }}</a></li>

                            {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %} <li>
                                <a href="?page={{ num }}">{{num}}
                                </a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% if posts.has_next %}
                                <li><a href="?page={{ posts.next_page_number }}">
                                        Next
                                    </a></li>
                                <li><a href="?page={{ posts.paginator.num_pages }}">
                                        Last
                                    </a></li>
                                {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">

                    {% comment %}
                    <div class="widget social-widget">
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                    facebook
                                    <span>25k likes</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                    twitter
                                    <span>31k followers</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                    instagram
                                    <span>31k followers</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endcomment %}


                    <div class="widget category-widget">
                        <h2>Kategoriler</h2>
                        <ul class="category-list">
                            {% for item in categories %}
                            <li>
                                <a href="/{{item.slug}}">
                                    {{item.title}} <span>{{item.post.count}}</span>
                                </a>
                            </li>
                            {% endfor %}


                        </ul>
                    </div>

                    {% comment %}
                    <div class="widget subscribe-widget2">
                        <h2>Join Our Newsletter</h2>
                        <p>Sign up for our free newsletters to receive the latest news. Don't worry we won't do spam.
                        </p>
                        <form method="POST" class="subscibe-form">
                            <div class="p-3">
                                {% csrf_token %}
                                {% for field in form %}
                                {{ field }}
                                {% endfor %}
                            </div>

                            <input type="submit" id="submit" value="Subscribe" />
                        </form>
                    </div>
                    {% endcomment %}

                    {% comment %}
                    <div class="widget instagram-widget">
                        <h2>Our Latest Instagram Posts</h2>
                        <ul class="insta-list">
                            <li><a href="#"><img src="upload/instagram/1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="upload/instagram/2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="upload/instagram/3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="upload/instagram/4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="upload/instagram/5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="upload/instagram/6.jpg" alt=""></a></li>
                        </ul>
                    </div>
                    {% endcomment %}


                    <div class="widget list-widget">
                        <h2>Son Postlar</h2>
                        <ul class="list-posts">
                            {% for item in latest_post %}
                            <li>
                                {% for subItem in item.categories.all %}
                                <a class="category-link" href="/{{subItem.slug}}">{{subItem.title}}</a>
                                {% endfor %}
                                <h2><a href="{% url 'posts:post_detail' slug=item.slug %}">{{item.title}}</a></h2>
                                <ul class="post-tags">
                                    <li>{{item.created_at | timesince}}</li>
                                    <li><a href="#">{{item.postcomments.count}} yorum</a></li>
                                    <li>Yazar: <a href="#">{{item.author}}</a></li>
                                    <li><i class="fa fa-eye"></i> {% get_hit_count for item %}</li>

                                </ul>
                            </li>
                            {% endfor %}


                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End blog section -->

{% endblock %}